.caixa {
    padding: 10px;
    color: aliceblue;
    text-align: center;
    margin-top: 35px; 
    box-shadow: 0 0 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #0000006b
    
 
 }
 button {
    border-radius: 5px;
    color: white;
    background-color: black;
    height: 60px;
    width: 100px;
 }